PORT=3000
STRIPE_SECRET_KEY=sk_live_your_stripe_secret_key
PAYPAL_CHECKOUT_URL=https://www.paypal.com/checkoutnow?token=your_paypal_order
MERCADOPAGO_CHECKOUT_URL=https://www.mercadopago.com.mx/checkout/v1/redirect?pref_id=your_preference_id
CARD_CHECKOUT_URL=